/* This stylesheet is used to style the public-facing components of the plugin. */

.icon-logo i{
	
	position: absolute;
    left: 50%;
    top: 28%;
    transform: translateX(-50%);
	color: #fff;
}



	