/*
---------------------------------------
  GLOBAL VARIABLES FOR AWESOME-TIMELINE
---------------------------------------
*/

/* DATE/ ICON SETTINGS */

$atl-font-color: ;
$atl-circle-bg-color: ;

/* POST SETTINGS */

$atl-post-title-font: ;
$atl-post-content-font: ;


/* COLOUR SETTINGS */

$atl-container-border: ;
$atl-container-background: ;
$atl-post-border: ;
$atl-post-border-shadow: ;
$atl-post-background: ;